/* Variables */
$primary_color: #FF5252;
$secondary_color: #FFF;
$details_color: #FF8A80;  

/* Breakpoints */
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

/* Extends */
%fullPage {
  height: 100%;
  width: 100%;
}