/* Variables */
$primary_color: #FF5252;
$secondary_color: #FFF;
$details_color: #FF8A80;
$error_color: #D50000;  

/* Breakpoints */
$phone: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

/* Extends */
%fullPage {
  height: 100%;
  width: 100%;
}