@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables.scss";
@import "projects.scss";

body, html {
  @extend %fullPage;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;  
}

.alert, .notice {
  position: absolute;
  margin: 0;
  padding: 0;
}

.custom_divider {
  max-width: 80% !important;
}

/* Menu */
.menu {
  margin: 0;
  background-image: url(asset-path('landpage.jpeg'));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;  
}

.overlay {
  @extend %fullPage;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  opacity: 0.6;
}

.logo {
  margin: 10% auto 0% auto !important;
  display: flex;
  align-self: center;
  width: 30%;
  max-width: 100%;
  height: auto;
}

.title {
  color: $secondary_color;
}

.options li{  
  list-style-type: none;
    
  a {
    font-size: $font-size-large;
    color: $secondary_color;
    font-weight: $close-font-weight;

    &:hover {        
      text-decoration: none;
    }
  }    
}


