@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables.scss";
@import "projects.scss";
@import "welcome.scss";
@import "bugs.scss";

/**************
     Geral
***************/
body, html {
  @extend %fullPage;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;  
}

.custom_divider {
  max-width: 80% !important;
  background-color: $secondary_color;
}

.notice, .alert {
  color: $error_color;
}

.field_with_errors { 
  display: inline;
  color: $error_color;
}

.form-group {
  list-style-type: none;
}

.nav-link {
  color: #000;

  &:hover {
    color: #000;
  }
}

.affix{
  @media #{$phone} {
    all: initial;
  }
}

.button-group {
  margin: 3% 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  a {
    color: $primary_color;
  }  

  button, .button {
    background-color: transparent;
    border: 1px solid $primary_color;

    &:hover{
      background-color: $primary_color;
      color: $secondary_color;
    }    
  }

  button {
    margin-left: 10%;

    @media #{$phone} {
      justify-content: center;
      align-items: center;
      margin-left: 0%;
    }
  }

  .button {
    margin: 3% 0 1.5% 0;
    font-size: $font_size_h3
  }
  
}

.custom-group{
  display: initial;
}

/**************
     Menu 
***************/
#menu {
  @media #{$phone} {
    display: none;
  }
}

#menu-trigger{
  position: absolute;
  top: 1.5%;
  left: 3%;
  background-color: transparent;
  color: $primary_color;
  border: none;
  font-size: $font-size-h2;
  z-index: 99;

  @media #{$tablet} {
    display: none;
  }
}

.background {
  margin: 0;
  background-image: url(asset-path('menu.jpeg'));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;  
}

.overlay {
  @extend %fullPage;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  opacity: 0.7;

  .content {
    opacity: 1 !important;
  }

  .container {
    padding: 0 12%;   
  }
}

.logo {
  margin: 10% auto 0% auto !important;
  display: flex;
  align-self: center;
  width: 30%;
  max-width: 100%;
  height: auto;

  @media #{$phone} {
    max-width: 80%;
  }
}

.title {
  color: $secondary_color;
  @media #{$phone} {
    font-size: $font-size-h2;
  }
}

.profile {
  font-size: $font-size-h5;
  color: $secondary_color;
}

ul {
  padding-left: 0 !important;
}

.options li{  
  list-style-type: none;
  margin-top: 4%;

  &:first-child {
    margin-top: 8%;
  }
    
  a {
    font-size: $font-size-h3;
    color: $secondary_color;
    font-weight: $close-font-weight;

    &:hover {        
      text-decoration: none;
    }
  }    
}

/******************
  Login e Cadastro
******************/
.devise-links{
  color: $secondary_color;

  &:hover{
    color: $secondary_color;
  }
}

.auth-page{
  @extend %fullPage;
  background-color: $primary_color;
  color: $secondary_color;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    margin-bottom: 5%;
  }

  .input {
    color: #000;
  }

  .logo {
    width: 50%;
  }

  .remember-me {
    margin-left: 5%;
  }

  .submit-button {
    margin: 5% auto;
    font-size: $font-size-h4;
    padding: 2.5% 5%;
    background-color: transparent;
    border: 1px solid $secondary_color;

    &:hover {
      background-color: $secondary_color;
      color: $primary_color;
    }
  }
}
