.bugs {
    height: 100%;
    .col-md-3, .container, .col-md-9 {
      height: 100%;
      padding: 0;
    }
    .col-md-9 {
      padding: 3% 0 !important;
    }  
    .container {
      width: 100%;
    }
}