/************
    Index
*************/
.projects {
  height: 100%;
  .col-md-3, .container, .col-md-9 {
    height: 100%;
    padding: 0;
  }
  .col-md-9 {
    padding: 3% 0 !important;
  }  
  .container {
    width: 100%;
  }

  .project-name {
    font-size: ($font-size-h1 * 2);
  }

  .project-description {
    max-width: 40%;
    margin: 3% auto;
  }
}

.project-wrapper {
  height: auto;
  padding: 3% 8%;
}

.project-card {
  margin: 0 1%;
  width: 30%;
  height: 100% !important;
  border: 1px solid $details-color;

}

.project-anchor{
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.add-button {
  background-color: $primary-color;
  color: $secondary-color;
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 0.5% 1.5% 0% 1.5%;
  font-size: $font-size-h5;

  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
  }

  .glyphicon{
    margin-right: 5%;  
  }

  p {
    display: inline-block;
    font-weight: bold;
  }
}

.options-button {
  position: absolute;
  top: 5%;
  right: 5%;
}

/***************
  Novo projeto
***************/
.custom_form {
  max-width: 40%;
  margin: 0 auto;
  list-style-type: none;
  
  label {
    text-align: center;
    color: #000;
  }
}

.button-group {
  margin: 3% 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/***********
    Bugs
***********/
.bug-card{
  border: 1px solid $details_color;
  max-width: 40%;
  margin: 5% auto;
}