/************
    Index
*************/
.page-title{
  @media #{$phone} {
    margin-top: 12.5%;
  }
}

.projects {
  height: 100%;

  @media #{$phone} {
    padding: 0 5%;
  }

  .col-md-3, .container, .col-md-9 {
    height: 100%;
    padding: 0;
  }

  .col-md-9 {
    padding: 3% 0 !important;
  }  

  .container {
    width: 100%;
  }

  .project-name {    
    font-size: ($font-size-h1 * 2); 
    
    @media #{$phone} {
      font-size: $font-size-h1; 
      
    }
  }

  .project-description {
    max-width: 40%;
    margin: 3% auto;
  }
}

.project-wrapper {
  padding: 3% 25%;

  @media #{$phone} {
    padding: 3% 12.5%;    
  }
}

.project-card {
  margin: 0 auto;
  border: 1px solid $details-color;
  margin: 1.5% 0%;

  @media #{$phone} {
    margin: 3% 0;    
  }

  .card-left {
    border-right: 1px solid #e5e5e5;
  }

  .card-right {
    ul {
      list-style-type: none;
      text-align: left !important;

      @media #{$phone} {
        text-align: center !important; 
      }

      li {
        margin: 10% 0%;

        &:first-child{
          margin-top: 30%;

          @media #{$phone} {
            margin-top: 10%;   
          }
        }

        a {
          color: $primary_color;
        }
      }      
    }
  }
}

.project-anchor{
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.project-page {
  max-width: 80%;

  @media #{$phone} {
    max-width: 95%;
  }
}

.add-button {
  z-index: 999;
  background-color: $primary-color;
  color: $secondary-color;
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 0.5% 1.5% 0% 1.5%;
  font-size: $font-size-h5;

  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
  }

  .glyphicon{
    margin-right: 5%;  
  }

  p {
    display: inline-block;
    font-weight: bold;
  }
}

.options-button {
  position: absolute;
  top: 7.5%;
  right: 3.5%;
}

/***************
  Novo projeto
***************/
.custom_form {
  max-width: 40%;
  margin: 0 auto;
  list-style-type: none;
  
  label {
    text-align: center;
    color: #000;
  }
}

/***********
    Bugs
***********/
.bug-card{
  border: 1px solid $details_color;
  margin: 3% 2%;
  list-style-type: none;

  h3 {
    margin-top: 1.5%;
  }

  .bug-status {
    margin-top: 5%;    
  }

  .done {
    color: green;
  }

  .doing {
    color: red;
  }
}

.bug-alert {
  margin-top: 10%;

  @media #{$phone} {
    max-width: 95%;
    margin: 30% auto;
  }
}

.bug-anchor{
  color: $primary_color;

  &:hover {
    color: $primary_color;
  }
}

.status-link {
  list-style-type: none;
  color: $primary_color;
  background-color: transparent;
  border: none;
  margin-bottom: 5%;

  &:hover {
    text-decoration: underline;
  }
}